/*
	Official colours from Finnish Transport Infrastructure Agency's 
	graphic instructions: https://vayla.fi/tietoa-meista/medialle/graafinen-ohjeisto
*/
:root {
	--main-bg-color: #fff;
	--main-accent-color: #000;
	--button-accent-color: #fff;
	--main-button-color: #0064af;
	--pos-button-color: #207a43;
	--neg-button-color: #c73f00;
}

body {
	margin: 0;
	font-family: 'Exo 2', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
